In [1]:
import requests
OCR_API="http://192.168.10.110:3030/ocr"
res = requests.post(OCR_API, files={'file': open("images/data.png", 'rb')})
res

In [3]:
res=res.json()

In [4]:
import pandas as pd
df=pd.DataFrame(res["result"])
df

,line_no,poly,text,word_no
0,0,"[[137.0, 493.0], [378.0, 473.0], [388.0, 603.0...",বাজেট,0
1,0,"[[399.0, 516.0], [621.0, 498.0], [628.0, 590.0...",সংক্রান্ত,1
2,0,"[[643.0, 497.0], [810.0, 503.0], [807.0, 587.0...",কাজ,2
3,0,"[[857.0, 507.0], [1038.0, 507.0], [1038.0, 591...",করাত,3
4,0,"[[1079.0, 466.0], [1303.0, 466.0], [1303.0, 58...",গিয়ে,4
5,0,"[[1369.0, 506.0], [1650.0, 497.0], [1653.0, 59...",অসুস্থ্থ,5
6,0,"[[1699.0, 491.0], [1854.0, 484.0], [1858.0, 58...",হায়,6
7,0,"[[1901.0, 450.0], [2197.0, 437.0], [2203.0, 57...",পরেছি,7
8,1,"[[151.0, 641.0], [294.0, 625.0], [306.0, 743.0...",এই,0
9,1,"[[343.0, 661.0], [614.0, 647.0], [618.0, 725.0...",দায়বার,1
10,1,"[[662.0, 650.0], [773.0, 638.0], [783.0, 736.0...",কে,2
11,1,"[[809.0, 621.0], [980.0, 621.0], [980.0, 729.0...",নিয়ে,3
12,1,"[[1007.0, 650.0], [1045.0, 650.0], [1045.0, 70...",।,4

In [5]:
df.columns

Index(['line_no', 'poly', 'text', 'word_no'], dtype='object')

In [ ]:
!export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CONDA_PREFIX/lib/

In [ ]:
from ocr.ocr import OCR 
ocr=OCR()

In [ ]:
!nvidia-smi

In [ ]:
from glob import glob
img_paths=[img for img in glob("/home/apsisdev/ansary/OCR_S/memo/ss*.png")]
img_path="/backup/backup/ansary/OCR_S/data/fw.jpeg"
bdf,bn_lines=ocr(img_path,lang="bn")
bdf
#edf,en_lines=ocr(img_path,lang="en")
    
# for img_path in img_paths:
#     bn_txt=img_path.replace(".png","_bn.txt")
#     en_txt=img_path.replace(".png","_en.txt")
#     with open(bn_txt,"w+") as f:
#         for line in bn_lines:
#             f.write(f"{line}\n")
#     with open(en_txt,"w+") as f:
#         for line in en_lines:
#             f.write(f"{line}\n")

In [ ]:
print("------------------------------bangla------------------------------------------")
bn_lines

In [ ]:
print("------------------------------english------------------------------------------")
en_lines

In [ ]:
edf

In [ ]:
edf[10:50]

In [ ]:
!nvidia-smi